{% extends './base.html' %}


{% block content %}
    <div class="container" style="margin-top: 20px">    
        <div class="row">
            {% for tut in tutorials %}
                <div class="col s12 m6">
                    <div class="card grey lighten-3" style="border: 1px solid black">
                        <div class="card-content black-text">
                            <span class="card-title">{{tut.title}}</span>
                            <p>{{tut.description}}</p>
                        </div>
                        <div class="card-action">
                            <button class="btn orange darken-4">View</button>                        
                        </div>
                    </div>
                </div>
            {% endfor %}          
        </div>
    </div>
{% endblock %}